<br><br>
<div class="row center  light-blue lighten-4">
    <h1 class="header center">{{subtitle}}</h1>
    <div class="row center">
        <h5 class="header col s12 light text-darken-3">
            {{subtexto}}
        </h5>
    </div>
    <div class="row center">
        <a href="#" class="btn-large waves-effect waves-light teal">
            {{textobtn}}
        </a>
    </div>
</div>
